<div class="container">
  <div class="title"> EDIT 2020
  </div>
  <div class="team"> TEAM - LITTLE TOOT</div>
  <div class="wrapper">
    <div class="media">
      <div class="layer">
        <div class="nameDiv">
          <b> Željana Timarac </b>
        </div>
        <p> Hello. I am Željana Timarac and I am a graduate student on Department of
          Mathematics and Computer Science of Faculty of Sciences in Banja Luka.
          Everything around us is changing, growing so fast and not just in IT
          world. I would like to be a part of the changes. I think that is very
          important for every person to embrace and know their qualities. But
          maybe, it is even more important to embrace our insecurities and not to
          be ashamed of the things that we don't know. Working on yourself is the
          best work you can do. So, let's Edit world.</p>
      </div>
      <img mat-card-image src="assets/img/zeljana.png" alt="Photo of a Zeljana" />
    </div>
    <div class="media">
      <div class="layer">
        <div class="nameDiv">
          <b> Elma Bejtović </b>
        </div>
        <p>
          Hi! I'm Elma Bejtović, a senior and soon to be a Bachelor of Electrical
          Engineering. It's really important to me to always keep learning and
          educating myself as I know that the IT field is very diverse and wide,
          and there is always room to grow and learn new things and gain new
          skills along the way.
        </p>
      </div>
      <img mat-card-image src="assets/img/elma.png" alt="Photo of a Elma" />
    </div>
  </div>
  <div class="wrapper">
    <div class="media">
      <div class="layer">
        <div class="nameDiv">
          <b> Medin Paldum </b>
        </div>
        <p> Hello! I am Medin Paldum, soon to be Bachelor of Electrical
          Engineering, Computer Science.
          <br>
          Short and simple, coding is my passion. </p>
      </div>
      <img class="neki" mat-card-image src="assets/img/medin.png" alt="Photo of a Medin" />
    </div>
    <div class="media">
      <div class="layer">
        <div class="nameDiv">
          <b> Emir Grbo </b>
        </div>
        <p> Hi! I'm Emir Grbo, soon to be a Bachelor of Faculty of Transport and Communications. It's really important
          to me to always keep learning new stufff, and always i want to grow and learn new things and gain new skills
          along the way. That is the reason why I’m on edit.
        </p>
      </div>
      <img mat-card-image src="assets/img/emir.png" alt="Photo of a Emir" />
    </div>
    <div class="media">
      <div class="layer">
        <div class="nameDiv">
          <b> Petar Rašević</b>
        </div>
        <p> Hello. I am Petar Rašević, soon to be Bachelor of Electrical
          Engineering, Computer Science. I like to extend my knowledge and keep
          up with new technologies. My moto is: If someone else invented
          something, why would not I learn to use it..</p>
      </div>
      <img mat-card-image src="assets/img/petar.png" alt="Photo of a Petar" />
    </div>
  </div>
</div>