<div style="width: 300px; height: 230px;">
  <div>
    <div class="modal-header">
      <h5 style="font-size: 18px; font-weight: bold;" class="modal-title">
        Are you sure you want to confirm the deletion?<br /><br />
        Your advert will be permanently deleted!
      </h5>
    </div>
    <div class="modal-body p-4">
      <button style="width: 100px;" class="btn btn-info btn-lg" (click)="onYes()">
        Yes
      </button>
      <div style="text-align: center; align-items: center;">
        <button class="btn btn-primary">
          No
        </button>
      </div>
    </div>
  </div>
</div>